body {

    background: #9370DB	;
    display: flex;
    align-items: left;
    height: 100vh;
    flex-direction: column;

}


*{

    font-family:"Times New Roman", Times, serif;
    box-sizing: padding-box;

}



label {

    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;

}


h2{
	 font-size: 40px;
	 color: rgb(255,215,0);
	
}

h3{
	 font-size: 25px;
	 
}

nav {
  background-color: #9370DB; 
  padding: 10px 0;
  text-align: right; 
}


nav a {
  color: white; 
  text-decoration: none; 
  padding: 10px 20px; 
  font-size: 16px; 
}


nav a:hover {
  background-color: #555; 
}

nav .active {
  background-color: #e74c3c; 
}

nav button{
  color: white; 
  text-decoration: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  margin-top: 20px;
}

table {
  width: 65%;
  border-collapse: collapse;
  margin-top: 20px;
 
}

table th, table td {
  
   padding: 10px;
   text-align: center;
}

table th {
  background-color: #333;
  color: white;
}

table tr{
  background-color: #f2f2f2;
}

input[type="button"] {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
	width: 100%;
}

input[type="button"]:hover {
    background-color: #45a049;
}

button.active {
    background-color: #4CAF50; /* Green background color */
    cursor: pointer; /* Change cursor on hover */
	padding: 15px 50px;
    color: #fff;
    border-radius: 5px;
    border: none;
}

button.active:hover {
    background-color: #45a049; /* Darker green background color on hover */
}

button.active:disabled {
    background-color: #cccccc; /* Light gray background color when disabled */
    color: #666666; /* Dark gray text color when disabled */
    border: none; /* Light gray border when disabled */
	padding: 15px 50px;
}